@import url('https://cdn.jsdelivr.net/npm/cn-fontsource-lxgw-wen-kai-gb-screen/font.css');

body {
  margin: 0;
  background: #dacab1;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

* {
  font-family: 'LXGW WenKai GB Screen';
}

#app {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
}

button {
  color: white;
  border: none;
  outline: none;
  font-size: 1rem;
  padding: 20px 40px 40px 20px;
  background: center no-repeat url('/assets/button.webp');
  background-size: contain;
  cursor: pointer;
  filter: drop-shadow(0 0 4px white);
}

button:active {
  filter: brightness(0.8);
}